<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea un nuevo post</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Crear un nuevo post</h1>
    <form action="/posts" method="POST">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required>
        <br>
        <label for="contenido">Contenido:</label>
        <textarea id="contenido" name="contenido" required></textarea>
        <br>
        <button type="submit">Crear Post</button>
    </form>
    <a href="/">Regresar</a>
</body>
</html>