<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PostsNode</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <nav class="navbar">
        <div class="nav-logo">NodeBlogs</div>
        <ul class="nav-links">
            <li><a href="#">Sign In</a></li>
            <li><a href="#">Sign Up</a></li>
        </ul>
    </nav>
    <main>
       <%= body%>
    </main>
    <footer class="footer">
        <div class="footer-content">
            <p>© 2026 NodeBlogs. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>